%main.content{role: "main"}
  {{#foreach posts}}
  %a.post-link{href: "{{url}}"}
    %article{class: "{{post_class}}"}
      %h2.post-title {{{title}}}
      %span.post-meta
        %time{datetime: "{{date format='YYYY-MM-DD'}}"} {{date format="MMMM DD"}}
      %span.tags
        {{#foreach tags}}
        %p.tag {{name}}
        {{/foreach}}
      %p.post-excerpt {{excerpt words="40"}}... &#8594;
  {{/foreach}}