- if build?
  {{!< default}}

%main.content{role: "main"}

  - if build?
    - post = nil
    {{#foreach posts}}
    = partial "home_post", locals: {post: post}
    {{/foreach}}
            
  - else
    - @posts.take(6).each do |post|
      = partial "home_post", locals: {post: post}
      
            
/ %span.tags
/   {{#foreach tags}}
/   %p.tag {{name}}
/   {{/foreach}}
/ %p.post-excerpt {{excerpt words="40"}}... &#8594;
