- def post_title (post)
  - if build?
    - post_title = "{{{title}}}"
  - else  
    - post['title']

- def post_slug (post)
  - if build?
    - post_slug = "{{{url}}}"
  - else  
    - post['slug']

- def post_published_at (post)
  - if build?
    - post_published_at = "{{{title}}}"
  - else  
    - post['published_at']

- if build?
  {{!< default}}

%main.content{role: "main"}

  - if build?
    - post = nil
    {{#foreach posts}}
    = partial "single_post", locals: {post: post}
    {{/foreach}}
            
  - else
    - @posts.take(6).each do |post|
      = partial "single_post", locals: {post: post}
      
            
/ %span.tags
/   {{#foreach tags}}
/   %p.tag {{name}}
/   {{/foreach}}
/ %p.post-excerpt {{excerpt words="40"}}... &#8594;
