- if build?
  {{!< default}}

%main.content.container-fluid{role: "main"}
  %article.col-sm-10.col-sm-centered{class: "{{post_class}}"}
    
    - if build?
      - post = nil
      {{#post}}
    
    %time{datetime: post_published_at(post)}
      %span= display_post_published_at(post)

    %h1.post-title= post_title(post)

    .row
      - if build?
        {{#foreach tags}}
        %span.tag {{name}}
        {{/foreach}}

      -else
        - post['tags'].each do |tag|
          %span.tag= tag.first

    %section.post-content.margin-top-20= post_content(post)
    
    - if build?
      {{/post}}
