- if build?
  {{! default}}

%main.content{role: "main"}
  %article{class: "{{post_class}}"}
    {{#post}}
    %span.post-meta
      %time{datetime: "{{date format='YYYY-MM-DD'}}"} {{date format="MMMM DD"}}
    %span.tags
      {{#foreach tags}}
      %p.tag {{name}}
      {{/foreach}}
    %h1.post-title {{{title}}}
    %section.post-content
      {{content}}
    {{/post}}
