.header-spacer
  height: 300px

header
  position: relative
  top: 0
  width: 100%
  height: 300px
  background-size: cover
  background-position: 0 -75px
  background-attachment: fixed
  text-align: center
  color: white
  overflow: hidden

  &:before
    content: ""
    position: absolute
    z-index: 1
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba($brand-primary, 0.7)

  .header-inner
    position: absolute
    z-index: 2
    width: 100%
    top: 50%
    left: 0
    +transform(translateY(-50%))
    +transition(all 0.2s ease-in-out)

  .icon-andimal
    font-size: 100px


  h1
    margin: 10px 0 0
    font-weight: 600
    font-size: 50px
    letter-spacing: 1px

.post-header
  .post-nav
    a
      &:nth-child(1)
        text-align: left

        &:before
          content: "<"
          padding: 0 20px

      &:nth-child(3)
        text-align: right

        &:after
          content: ">"
          padding: 0 20px

  .post-nav-links
    height: 77px
    line-height: 77px
    background: rgba(white, 0.2)
    opacity: 0.2
    +transition(all 0.2s ease-in-out)

    &:hover
      opacity: 1

  a
    color: white

    &:hover 
      text-decoration: none

      i
        +transform( scale(1.2) )

    i
      display: block
      font-size: 50px
      +transition(all 0.2s ease-in-out)

  time,
  time span
    background: none
    color: #DDD
    font-size: 16px

  time
    &:before
      top: 29px
      left: 0
      width: 40%

    &:after
      content: ""
      position: absolute
      top: 29px
      right: 0
      width: 40%
      height: 1px
      background-color: #DDD

.about
  position: absolute
  z-index: 1
  width: 100%
  height: 100%
  left: 100%
  background: rgba(black, 0.7)
  +transition(all 0.2s ease-in-out)

  i
    position: absolute
    left: 0
    top: 0
    width: 40px
    height: 100%
    line-height: 300px
    background: rgba(white, 0)
    color: #aaa
    cursor: pointer
    +transition(all 0.2s ease-in-out)

    &:hover
      background: rgba(white, 0.1)
      +transform( scale(1.1) )

.show-about
  .header-inner
    left: -100%

  .about
    left: 0