html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.group:after, .home-template .post-link .post:after, .tags:after {
  content: "";
  display: table;
  clear: both; }

body {
  font-family: Helvetica, sans-serif; }

a {
  color: inherit;
  text-decoration: none; }

img {
  vertical-align: middle; }

@font-face {
  font-family: 'icons';
  src: url("http://static.andimal.co/fonts/icons.eot");
  src: url("http://static.andimal.co/fonts/icons.eot?#iefix") format("embedded-opentype"), url("http://static.andimal.co/fonts/icons.woff") format("woff"), url("http://static.andimal.co/fonts/icons.ttf") format("truetype"), url("http://static.andimal.co/fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon-ghost, .icon-feed {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-decoration: none; }

.icon-ghost:before {
  content: "\e000"; }

.icon-feed:before {
  content: "\e001"; }

@font-face {
  font-family: 'andimal';
  src: url("http://static.andimal.co/fonts/andimal.eot");
  src: url("http://static.andimal.co/fonts/andimal.eot?#iefix") format("embedded-opentype"), url("http://static.andimal.co/fonts/andimal.woff") format("woff"), url("http://static.andimal.co/fonts/andimal.ttf") format("truetype"), url("http://static.andimal.co/fonts/andimal.svg#andimal") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon-twitter, .icon-github, .icon-dribbble, .icon-tumblr, .icon-mail, .icon-instagram, .icon-rdio, .icon-bike, .icon-andimal, .icon-triangle {
  font-family: 'andimal';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-twitter:before {
  content: "\74"; }

.icon-github:before {
  content: "\67"; }

.icon-dribbble:before {
  content: "\64"; }

.icon-tumblr:before {
  content: "\75"; }

.icon-mail:before {
  content: "\6d"; }

.icon-instagram:before {
  content: "\69"; }

.icon-rdio:before {
  content: "\72"; }

.icon-bike:before {
  content: "\73"; }

.icon-andimal:before {
  content: "\61"; }

.icon-triangle:before {
  content: "\5e"; }

/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code,
pre {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre {
  background: #272822;
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em; }

/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/
pre .hljs-tag,
pre code {
  color: #f8f8f2;
}
pre .hljs-keyword,
pre .hljs-function,
pre .hljs-literal,
pre .hljs-change,
pre .hljs-winutils,
pre .hljs-flow,
pre .hljs-lisp .title,
pre .hljs-clojure .built_in,
pre .hljs-nginx .title,
pre .hljs-tex .special {
  color: #66d9ef;
}
pre .hljs-variable,
pre .hljs-params {
  color: #fd9720;
}
pre .hljs-constant {
  color: #66d9ef;
}
pre .hljs-title,
pre .hljs-class .title,
pre .hljs-css .class {
  color: #a6e22e;
}
pre .hljs-attribute,
pre .hljs-symbol,
pre .hljs-symbol .string,
pre .hljs-tag .title,
pre .hljs-value,
pre .hljs-css .tag {
  color: #f92672;
}
pre .hljs-number,
pre .hljs-preprocessor,
pre .hljs-pragma,
pre .hljs-regexp {
  color: #ae81ff;
}
pre .hljs-tag .value,
pre .hljs-string,
pre .hljs-css .id,
pre .hljs-subst,
pre .hljs-haskell .type,
pre .hljs-ruby .class .parent,
pre .hljs-built_in,
pre .hljs-sql .aggregate,
pre .hljs-django .template_tag,
pre .hljs-django .variable,
pre .hljs-smalltalk .class,
pre .hljs-django .filter .argument,
pre .hljs-smalltalk .localvars,
pre .hljs-smalltalk .array,
pre .hljs-attr_selector,
pre .hljs-pseudo,
pre .hljs-addition,
pre .hljs-stream,
pre .hljs-envvar,
pre .hljs-apache .tag,
pre .hljs-apache .cbracket,
pre .hljs-tex .command,
pre .hljs-prompt {
  color: #e6db74;
}
pre .hljs-comment,
pre .hljs-javadoc,
pre .hljs-java .annotation,
pre .hljs-python .decorator,
pre .hljs-template_comment,
pre .hljs-pi,
pre .hljs-doctype,
pre .hljs-deletion,
pre .hljs-shebang,
pre .hljs-apache .sqbracket,
pre .hljs-tex .formula {
  color: #75715e;
}
pre .hljs-coffeescript .javascript,
pre .hljs-javascript .xml,
pre .hljs-tex .formula {
  opacity: 0.5;
}

pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5; }

body {
  background-color: #fafaf7;
  color: #454545;
  font-family: "ff-meta-web-pro"; }

::selection {
  background-color: #e7af47; }

::-moz-selection {
  background-color: #e7af47; }

pre {
  line-height: 1.7; }

.site-header, footer {
  background: #454545;
  width: 100%; }

.icon:hover p {
  color: white;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.site-header {
  position: relative;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .site-header .home-link {
    display: block;
    overflow: hidden;
    width: 9.375rem; }
  .site-header .icon-andimal {
    margin: -1.5625rem 0 -1.875rem -0.625rem;
    color: #5f5f5f;
    font-size: 6.25rem;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .site-header .header-icons {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .site-header .icon {
    top: -0.5em;
    height: 100%;
    padding: 0 0.625rem;
    color: #CCC;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .site-header .to-top {
    display: none;
    cursor: pointer; }
    .site-header .to-top .icon-triangle {
      font-size: .75em; }
    .site-header .to-top .caption {
      right: 0;
      left: auto;
      width: 6.25rem;
      text-align: center; }
      .site-header .to-top .caption:before {
        margin-left: 0.6875rem; }
  .site-header .icon-link {
    position: relative;
    top: 50%;
    margin-top: -0.5em; }

.home-template header .icon-andimal {
  cursor: default; }

.post-template header .home-link:hover .icon-andimal {
  color: #6b6b6b;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.home-template .post-link {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .home-template .post-link:hover {
    background-color: white;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .home-template .post-link:hover .post-title {
      color: #de9a1d;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }

main {
  display: block;
  *zoom: 1;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto; }
  main:after {
    content: "";
    display: table;
    clear: both; }

article {
  padding: 2.5rem 0;
  border-bottom: 1px solid #dedede; }

.home-template article {
  margin: 0 -5.26316%;
  padding: 2.5rem 5.26316% 1.4375rem 5.26316%; }

.post-title {
  clear: both;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 130%;
  padding-bottom: 1.25rem;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.post-meta {
  float: left;
  font-size: 1.0625rem;
  color: #ababab;
  margin: 0 0.625rem 0 0; }

.home-template .post-meta {
  margin-bottom: 1.5625rem; }

.post-template .post-title {
  padding-top: 1.25rem;
  padding-bottom: 2.5rem; }
.post-template .post-meta, .post-template .tags {
  padding-top: 1.875rem; }

.tags {
  float: left;
  margin: 0 0 1.0625rem -0.1875rem; }

.post-excerpt {
  display: none; }

.tag {
  float: left;
  background-color: #de9a1d;
  color: white;
  font-size: .8em;
  margin: 0 0.1875rem 0.3125rem 0.1875rem;
  padding: 0.1875rem 0.375rem 0.25rem 0.375rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.post-content {
  max-width: 600px; }
  .post-content img,
  .post-content iframe {
    max-width: 100%;
    width: 100%; }
  .post-content .image-container {
    position: relative;
    overflow: hidden; }
    .post-content .image-container:after {
      content: attr(data-caption);
      position: absolute;
      bottom: -100%;
      left: 0;
      width: 90%;
      opacity: 1;
      background-color: rgba(222, 154, 29, 0.9);
      padding: 5%;
      font-size: 1.1em;
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .post-content .image-container:hover:after {
      bottom: 0; }
  .post-content h3 {
    font-size: 1.375rem;
    font-weight: 600; }
  .post-content p, .post-content ul {
    margin: 1.25rem 0;
    font-size: 1.0625rem;
    line-height: 150%; }
  .post-content ul li {
    list-style: disc;
    margin: 0 0 0 3.125rem; }
  .post-content strong {
    font-weight: 600; }
  .post-content a {
    color: #de9a1d; }
  .post-content .gif {
    color: #b17b17;
    cursor: pointer; }
  .post-content a:hover {
    text-decoration: underline; }

.icon {
  position: relative;
  display: inline-block; }

.caption {
  display: none; }

footer {
  text-align: center;
  padding: 1.25rem 0.625rem; }
  footer a {
    color: #CCC;
    padding: 0.9375rem 2.5%;
    font-size: 1.25rem;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  footer .first {
    padding-left: 0; }
  footer .last {
    padding-right: 0; }
  footer .icon-mail {
    position: relative;
    top: -0.125rem;
    font-size: .8em; }
  footer .home-link {
    padding: 0; }
  footer .icon-andimal {
    display: block;
    padding-top: 0.9375rem; }
    footer .icon-andimal strong {
      position: relative;
      top: -0.1875rem;
      font-family: "ff-meta-web-pro";
      font-weight: 700;
      font-size: 0.75em;
      padding-left: 0.4375rem; }
  footer .poweredby {
    display: block;
    font-size: .8em;
    font-weight: 700;
    color: #666;
    margin-top: 0.9375rem; }
    footer .poweredby .icon-ghost {
      color: inherit;
      font-weight: inherit;
      text-decoration: none;
      padding-left: 0.3125rem; }
    footer .poweredby .icon-ghost:hover {
      text-decoration: none; }
    footer .poweredby .icon-ghost:before {
      margin-right: 0.2em; }
    footer .poweredby:hover {
      color: #CCC; }

.gif-viewer {
  display: none; }

@media only screen and (min-width: 768px) {
  .site-header {
    position: fixed;
    z-index: 1;
    border-bottom: 0.125rem solid #fafaf7; }
    .site-header .header-icons {
      right: -2.25rem; }
    .site-header .show-to-top {
      right: 0.3125rem;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .site-header .caption {
      top: 3.4375rem;
      left: -0.25rem; }
    .site-header .caption:before {
      top: -0.5rem;
      bottom: auto;
      left: 65%; }
    .site-header .icon:hover .caption {
      top: 2.8125rem; }
    .site-header .rss .caption {
      margin-left: -0.625rem; }
    .site-header .to-top {
      display: inline-block; }

  main {
    *zoom: 1;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.8125rem; }
    main:after {
      content: "";
      display: table;
      clear: both; }

  .home-template article {
    margin: 0;
    padding-top: 3.125rem;
    padding-bottom: 2.0625rem; }

  .post-link .post {
    padding-left: 21.682%;
    padding-right: 21.682%; }

  .post-excerpt {
    display: block;
    clear: both;
    font-size: 1.0625rem;
    line-height: 150%;
    padding-top: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }

  .post-link:hover .post-excerpt {
    padding-top: 1.25rem;
    max-height: 500px;
    opacity: 1;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }

  .post-template article {
    padding-left: 14.45466%;
    padding-right: 14.45466%;
    max-width: 80rem; }
  .post-template .post-title {
    font-size: 2.8125rem;
    line-height: 110%; }
  .post-template .post-content h3 {
    font-size: 1.6875rem;
    padding-top: 1.5625rem; }
  .post-template .post-content p, .post-template .post-content ul {
    font-size: 1.25rem;
    line-height: 170%; }

  footer a {
    padding-right: 1.75%;
    padding-left: 1.75%; }

  .caption {
    display: block;
    visibility: hidden;
    position: absolute;
    top: -2.1875rem;
    left: 0;
    background-color: #de9a1d;
    padding: 0.3125rem 0.625rem 0.4375rem 0.625rem;
    font-family: "ff-meta-web-pro";
    font-size: 0.9375rem;
    font-weight: 500;
    color: #EEE;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px #333333;
    -moz-box-shadow: 0px 0px 5px #333333;
    box-shadow: 0px 0px 5px #333333; }
    .caption:before {
      content: "\5e";
      position: absolute;
      top: auto;
      bottom: -0.5rem;
      left: 50%;
      color: #de9a1d;
      font-family: andimal;
      font-size: 0.625rem;
      margin-left: -0.3125rem;
      text-shadow: 0 0 0.625rem black;
      clip: rect(-1.25rem 1.25rem 0.5rem -0.625rem); }

  .icon:hover .caption {
    visibility: visible;
    top: -1.5625rem;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }

  .gif-viewer {
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.3125rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px #333333;
    -moz-box-shadow: 0px 0px 5px #333333;
    box-shadow: 0px 0px 5px #333333; }
    .gif-viewer:before {
      content: "\5e";
      position: absolute;
      top: auto;
      bottom: -0.5rem;
      left: 50%;
      color: rgba(0, 0, 0, 0.5);
      font-family: andimal;
      font-size: 0.625rem;
      margin-left: -0.3125rem;
      text-shadow: 0 0 0.625rem black;
      clip: rect(-1.25rem 1.25rem 0.5rem -0.625rem);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }

  footer .first, footer .last {
    padding-right: 1.75%;
    padding-left: 1.75%; }
  footer .caption {
    font-size: .75em; }
  footer .caption:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); } }
