%header{style: "background-image: url(#{blog_cover})", data: {stellar_background_ratio: "0.5"}}
  .header-inner
    %i.icon-andimal
    %h1= blog_title

    %button.btn.btn-white-outline.margin-top-30 about
    %button.btn.btn-white-outline.margin-top-30 work
