body {
	background-color: $background;
	color: $dkText;
	font-family: $meta;
}

::selection {
	background-color: lighten($orange, 10%);
}

::-moz-selection {
	background-color: lighten($orange, 10%);
}

.site-header, footer {
	background: $header;
	width: 100%;
}

.icon:hover p {
	color: white;
	@include transition;
}

.site-header {
	position: relative;
	@include transition;

	.home-link {
		display: block;
		overflow: hidden;
		width: rem(150);
	}

	.icon-andimal {
		margin: rem(-25) 0 rem(-30) rem(-10);
		color: lighten($header, 10%);
		font-size: rem(100);
		@include transition;
	}

	.header-icons {
		position: absolute;
		top: 0;
		right: rem(-36);
		height: 100%;
		@include transition;
	}

	.show-to-top {
		right: rem(5);
		@include transition;
	}

	.icon {
		top: -0.5em;
		height: 100%;
		padding: 0 rem(10);
		color: #CCC;
		@include transition;
	}

	.to-top {
		cursor: pointer;

		.icon-triangle {
			font-size: .75em;
		}

		.caption {
			right: 0;
			left: auto;
			width: rem(100);
			text-align: center;

			&:before {
				margin-left: rem(11);
			}
		}
	}

	.icon-link {
		position: relative;
		top: 50%;
		margin-top: -0.5em;
	}
}

.home-template header .icon-andimal {
	cursor: default;
}

.post-template header .home-link:hover .icon-andimal {
	color: lighten($header, 15%);
	@include transition;
}

.home-template .post-link {
	@include transition;

	&:hover {
		background-color: white;
		@include transition;

		.post-title {
			color: $orange;
			@include transition;
		}
	}

	.post {
		@extend .group;
	}
}

main {
	display: block;
	@include container;
	// @include susy-grid-background;
}

article {
	padding: rem(40) 0;
	border-bottom: 1px solid lighten($dkText, 60%);
}

.home-template article {
	margin: 0 ( gutter(4) * -1 );
	padding: rem(40) gutter(4) rem(23) gutter(4);
}

.post-title {
	clear: both;
	font-size: rem(30);
	font-weight: 600;
	line-height: 130%;
	padding-bottom: rem(20);
	@include transition;
}

.post-meta {
	float: left;
	font-size: rem(17);
	color: lighten($dkText, 40%);
	margin: 0 rem(10) 0 0;
}

.home-template {

	.post-meta {
		margin-bottom: rem(25);
	}
}

.post-template {

	.post-title {
		padding-top: rem(20);
		padding-bottom: rem(40);
	}

	.post-meta, .tags {
		padding-top: rem(30);
	}
}

.tags {
	@extend .group;
	float: left;
	margin: 0 0 rem(17) rem(-3);
}

.post-excerpt {
	display: none;
}

.tag {
	float: left;
	background-color: $orange;
	color: white;
	font-size: .8em;
	margin: 0 rem(3) rem(5) rem(3);
	padding: rem(3) rem(6) rem(4) rem(6);
	@include border-radius;
}

.post-content {

	h3 {
		font-size: rem(22);
		font-weight: 600;
	}

	p, ul {
		margin: rem(20) 0;
		font-size: rem(17);
		line-height: 150%;
	}

	ul li {
		list-style: disc;
		margin: 0 0 rem(20) rem(20);
	}

	strong {
		font-weight: 600;
	}

	a {
		color: $orange;
	}

	.gif {
		color: darken($orange, 10%);
		cursor: pointer;
	}

	a:hover {
		text-decoration: underline;
	}
}

.icon {
	position: relative;
	display: inline-block;
}

.caption {
	display: none;
}

footer {
	text-align: center;
	padding: rem(20) rem(10);

	a {
		color: #CCC;
		padding: rem(15) 2.5%;
		font-size: rem(20);
		@include transition;
	}

	.first {
		padding-left: 0;
	}

	.last {
		padding-right: 0;
	}

	.icon-mail {
		position: relative;
		top: rem(-2);
		font-size: .8em;
	}

	.home-link {
		padding: 0;
	}

	.icon-andimal {
		display: block;
		padding-top: rem(15);

		strong {
			position: relative;
			top: rem(-3);
			font-family: $meta;
			font-weight: 700;
			font-size: 0.75em;
			padding-left: rem(7);
		}
	}

	.poweredby {
		display: block;
		font-size: .8em;
		font-weight: 700;
		color: #666;
		margin-top: rem(15);
		
		.icon-ghost {
			color: inherit;
			font-weight: inherit;
			text-decoration: none;
			padding-left: rem(5);
		}

		.icon-ghost:hover {
			text-decoration: none;
		}

		.icon-ghost:before {
			margin-right: 0.2em;
		}

		&:hover {
			color: #CCC;
		}

	}
}

@include respond-to() {

	.site-header {
		position: fixed;
		border-bottom: rem(2) solid $background;

		.caption {
			top: rem(55);
			left: rem(-4);
		}

		.caption:before {
			top: rem(-8);
			bottom: auto;
			left: 65%;
		}

		.icon:hover .caption {
			top: rem(45);
		}

		.rss .caption {
			margin-left: rem(-10);
		}
	}

	main {
		@include container;
		// @include susy-grid-background;
		padding-top: rem(45);
	}

	.home-template article {
		margin: 0;
		padding-top: rem(50);
		padding-bottom: rem(33);
	}

	.post-link .post {
		padding-left: columns(3,14) + gutter(14);
		padding-right: columns(3,14) + gutter(14);
	}

	.post-excerpt {
		display: block;
		clear: both;
		font-size: rem(17);
		line-height: 150%;
		padding-top: 0;
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		@include transition;
	}

	.post-link:hover .post-excerpt {
		padding-top: rem(20);
		max-height: 500px;
		opacity: 1;
		@include transition;
	}

	.post-template {
		
		article {
			padding-left: columns(2,14) + gutter(14);
			padding-right: columns(2,14) + gutter(14);
			max-width: rem(1280);
		}

		.post-title {
			font-size: rem(45);
			line-height: 110%;
		}

		.post-content {
		
			h3 {
				font-size: rem(27);
				padding-top: rem(25);
			}

			p, ul {
				font-size: rem(20);
				line-height: 170%;
			}
		}
	}

	footer a {
		padding-right: 1.75%;
		padding-left: 1.75%;
	}

	.caption {
		display: block;
		visibility: hidden;
		position: absolute;
		top: rem(-35);
		left: 0;
		background-color: $orange;
		padding: rem(5) rem(10) rem(7) rem(10);
		font-family: $meta;
		font-size: rem(15);
		font-weight: 500;
		color: #EEE;
		// opacity: 0;
		@include border-radius;
		@include box-shadow;
		// @include transition;

		&:before {
			@include caption-pointer($orange);
		}
	}

	.icon:hover .caption {
		visibility: visible;
		top: rem(-25);
		// opacity: 1;
		cursor: pointer;
		@include transition;
	}

	.gif-viewer {
		display: none;
		position: absolute;
		top: 0;
		background-color: rgba(0,0,0,0.8);
		padding: rem(5);
		@include border-radius;
		@include box-shadow;

		&:before {
			@include caption-pointer( rgba(0,0,0,0.5) );
			@include rotate(180deg);
		}
	}

	footer {
		.first, .last {
			padding-right: 1.75%;
			padding-left: 1.75%;
		}

		.caption {
			font-size: .75em;
		}

		.caption:before {
			@include rotate(180deg);	
		}
	}

}