body {
	color: $dkText;
	font-family: $meta;
}

.site-header, footer {
	background: $header;
}

.site-header {
	overflow: hidden;
	@include transition;

	.icon-andimal {
		margin: rem(-25) 0 rem(-30) rem(-10);
		color: lighten($header, 10%);
		font-size: rem(100);
	}
}

.site-header:hover {
	background: lighten($header, 3%);
	@include transition;
}

main {
	@include container;
	// @include susy-grid-background;

	article {
		padding: rem(40) gutter(4);
		border-bottom: 1px solid lighten($dkText, 60%);
		margin: 0 ( gutter(4) * -1 );
	}

	.post-title {
		font-size: rem(30);
		padding-bottom: rem(20);
	}

	.post-meta {
		float: left;
		font-size: rem(17);
		color: lighten($dkText, 40%);
	}
}

.tag {
	background-color: $dkText;
	color: white;
	padding: rem(2) rem(6);
	@include border-radius;
}

footer {
	text-align: center;
	padding: rem(20) rem(10);

	a {
		color: #CCC;
		padding: rem(10) 2.5%;
		font-size: rem(20);
		@include transition;
	}

	a:hover {
		color: white;
		@include transition;
	}

	.first {
		padding-left: 0;
	}

	.last {
		padding-right: 0;
	}

	.icon-mail {
		position: relative;
		top: rem(-2);
		font-size: .9em;
	}

	.home-link {
		padding: 0;
	}

	.icon-andimal {
		display: block;
		padding-top: rem(15);

		strong {
			position: relative;
			top: rem(-3);
			font-family: $meta;
			font-weight: 700;
			font-size: 0.75em;
			padding-left: rem(7);
		}
	}
}

@include respond-to() {



}