$offWhite	: #FAFAF7;
$dkGray 	: #454545;
$orange		: #DE9A1D;

$meta			: "ff-meta-web-pro";

// ------------------ //

$background	: $offWhite;
$dkText			: $dkGray;
$header 		: $dkGray;

// ------------------ //

@mixin caption-pointer($color) {
	content: "\5e";
	position: absolute;
	top: auto;
	bottom: rem(-8);
	left: 50%;
	color: $color;
	font-family: andimal;
	font-size: rem(10);
	margin-left: rem(-5);
	text-shadow: 0 0 rem(10) #000;
	clip: rect( rem(-20) rem(20) rem(8) rem(-10) );
}